*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 50px;
    font-family:'open sans',sans-serif;
}
.container{
    max-width: 827px;
    margin: auto;
}
/* .container{
    width: 100%;
    height: 600px;
    background-color: lightslategray; */
/* } */
wrapper img{
    width: 100%;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
header{
    background-color: rgb(4, 59, 4);
    color:lightyellow;
    margin: 30px 0 40px 0;
    padding: 30px;
    
    padding: 20px;
}